# Inteligencia Artificial

- A inteligencia Artificial e a imitaçâo da vida
- 1950: os primeiros computadores  contruindo a historia da IA 
- Iverno da IA: empolgacao seguida por uma desilusâo 
- Ia baseada em logica foi perdendo espaco para IA baseada em Dados e Estatiscas
- Machine Learnig aplicado ao comercio 
- Redes Neurais, Big Data ( cloud Computer e Databricks)
- "Maquina Viva" : mitologia, grecia antiga, china
- XVII : dispositivos  "autônomos". 
- Filosfos - pesamento humano pode ser simulado por simbolos
- Alan Turing (1912-1954): teste maquina de turing (maquina tem, ou não tem inteligencia similiar a humana)
- Quem você considera inteligencia:
- Linguistica
- Artitica
- Numerica 
- Sensorial
- Espacial
- Emocional
- Fisica
- Reflexiva
"Eu sei que sou inteligente  porque eu sei  que nada sei" Socrates

# Data Driven

- Uma empresa orientada a dados
- Vocês ja possuem os dados mas utilizam  em uma visao Data Driven:
- Netflix, 
- Spotify
- Wall Mart

A IA no seu dia a dia

- Google Maps
- Waze
- Netflix
- Amazom Prime
- Diney Plus
- HBO
-

Google Maps

- Probabilidade com diferentes rotas
- 4 possiblidades de caminhos

Filmes

- Entrterimento sob demanda
- Navegacao em busca de um filme

# DataSet Games

- A importancia do DataSet
- Data Drives - uma cultura orientada a dados
- EDA: analise exploratoria de dados

In [3]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\cassio49734596\desktop\palestrasia\venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\cassio49734596\desktop\palestrasia\venv\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cassio49734596\desktop\palestrasia\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cassio49734596\desktop\palestrasia\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cassio49734596\desktop\palestrasia\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\cassio49734596\desktop\palestrasia\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
# importando o pandas
import pandas as pd

In [13]:
# DataFrame
df_jogos = pd.read_csv('datasets/steam_200k.csv')

In [14]:
df_jogos.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [18]:
df_jogos.tail()

        151603712  The Elder Scrolls V Skyrim  purchase  1.0  0
199994  128470551                 Titan Souls      play  1.5  0
199995  128470551  Grand Theft Auto Vice City  purchase  1.0  0
199996  128470551  Grand Theft Auto Vice City      play  1.5  0
199997  128470551                        RUSH  purchase  1.0  0
199998  128470551                        RUSH      play  1.4  0

In [15]:
df_filmes = pd.read_csv('datasets/filmes.csv')

In [16]:
df_filmes.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [17]:
df_filmes.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [19]:
print("\n--- Informações Gerais ---")

--- Informações Gerais ---

In [20]:
print("\n--- Distribuição dos Sentimentos ---")

--- Distribuição dos Sentimentos ---

In [11]:
df.explode

<bound method DataFrame.explode of         151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0       151603712  The Elder Scrolls V Skyrim      play  273.0  0
1       151603712                   Fallout 4  purchase    1.0  0
2       151603712                   Fallout 4      play   87.0  0
3       151603712                       Spore  purchase    1.0  0
4       151603712                       Spore      play   14.9  0
...           ...                         ...       ...    ... ..
199994  128470551                 Titan Souls      play    1.5  0
199995  128470551  Grand Theft Auto Vice City  purchase    1.0  0
199996  128470551  Grand Theft Auto Vice City      play    1.5  0
199997  128470551                        RUSH  purchase    1.0  0
199998  128470551                        RUSH      play    1.4  0

[199999 rows x 5 columns]>

In [12]:
df.all

<bound method DataFrame.all of         151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0       151603712  The Elder Scrolls V Skyrim      play  273.0  0
1       151603712                   Fallout 4  purchase    1.0  0
2       151603712                   Fallout 4      play   87.0  0
3       151603712                       Spore  purchase    1.0  0
4       151603712                       Spore      play   14.9  0
...           ...                         ...       ...    ... ..
199994  128470551                 Titan Souls      play    1.5  0
199995  128470551  Grand Theft Auto Vice City  purchase    1.0  0
199996  128470551  Grand Theft Auto Vice City      play    1.5  0
199997  128470551                        RUSH  purchase    1.0  0
199998  128470551                        RUSH      play    1.4  0

[199999 rows x 5 columns]>

In [1]:
print("hello world")

hello world

# DataSet Filmes